services:
  jirafly-web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jirafly-web
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - /app/node_modules
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - PORT=3000
